QUOTATION_INFORMER_HOST = 88.198.218.83
QUOTATION_INFORMER_PORT = 55001

DATABASE_HOST     = 192.168.100.11
DATABASE_PORT     = 3306
DATABASE_USERNAME = webtrader
DATABASE_PASSWORD = webtrader
DATABASE_NAME     = webtrader

LARAVEL_HOST = 192.168.100.10
DEMON_TOKEN  = JZF8Z3ZQAAooDA
